{% extends "base.html" %}

{% block title %}
    <title>Atualizar produto</title>
    <link rel="stylesheet" href="/cadastrar.css"/>
{% endblock %}

{% block content %}

<form action="/salvar" id="atualizarForm" method="POST">
    <div class="form__title">
        <h1>Atualizar Produto</h1>
    </div>

    <div class="form__info">
        <input name="id" type="hidden" value={{produto.id}}>

        <label for="nome">Nome:</label>
        <input required id="nome" name="nome" type="text" value={{produto.nome}}>

        <label for="preco">Preço:</label>
        <input pattern="[0-9.]+" placeholder="150.00" required id="preco" name="preco" type="text" value={{produto.preco}}>

        <label for="quantidade">Quantidade:</label>
        <input pattern="[0-9]+$" required id="quantidade" name="quantidade" type="text" value={{produto.quantidade}}>

        <label for="desconto">Desconto:</label>

        {% if produto.desconto %}
            <input id="desconto" name="desconto" type="text" value={{produto.desconto}}>
            {% else %}
            <input id="desconto" name="desconto" type="text" value="0">
        {% endif%}
        <button type="submit">Salvar</button>
        <a href="/produtos" class="button__back">Voltar</a>
    </div>
</form>

{% endblock %}