{% extends "base.html" %}

{% block content %}

<form action="/salvar" id="atualizarForm" method="POST">
    <input name="id" type="hidden" value={{produto.id}}>

    <label for="nome">Nome:</label>
    <input id="nome" name="nome" type="text" value={{produto.nome}}>

    <label for="preco">Preço:</label>
    <input id="preco" name="preco" type="text" value={{produto.preco}}>

    <label for="quantidade">Quantidade:</label>
    <input id="quantidade" name="quantidade" type="text" value={{produto.quantidade}}>

    <label for="desconto">Desconto:</label>
    <input id="desconto" name="desconto" type="text" value={{produto.desconto}}>

    <button type="submit">Salvar</button>
    <a href="/produtos">Voltar</a>
</form>

{% endblock %}