{% extends "base.html" %}

{% block title %}

    <title>Home</title>
    <link rel="stylesheet" href="home.css">
{% endblock %}

{% block content %}

    <div class="container">
        <div class="logo">
            <img src="assets/online_store.svg" alt="">
        </div>
        <div class="info">
            <p class="info__title">Realize seu pedido online!</p>
            <div class="home__actions">
                <a class="pedido__button" href="">Fazer Pedido &#10132;</a>
                <a class="produto__button" href="/produtos">Cadastrar Produto &#10132;</a>
            </div>
        </div>
    </div>

{% endblock %}