{% extends "base.html" %}

{% block content %}

<a class="cadastrar__button" href="/">&#11013; Voltar para home</a>
<a class="cadastrar__button" href="/pedido_cadastrar">Fazer Pedido</a>

<ul class="produtos">
    {% for pedido in pedidos %}
    <li class="produto">
        <div class="info">
            <p>Codigo: {{pedido.id}}</p>
            <p>Nome: {{ pedido.nome }}</p>
            <p>Endereço: {{ pedido.endereco }}</p>
        </div>
        <div class="actions">
            <a class="actions__button" href={{ "/pedidos/"+pedido.id }}>
                🛒 Ver Pedido
            </a>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}