{% extends "base.html" %}

{% block content %}

<a class="cadastrar__button" href="/pedidos">&#11013; Ver todos os pedidos</a>
<a class="cadastrar__button" href="/cadastrar">Adicionar produto</a>

<p class="title">Produtos pedidos: {{ produtos.length }} <br/> Preço Total: {{ precoTotal.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) }}</p>

<ul class="produtos">
    {% for produto in produtos %}
    <li class="produto">
        <div class="info">
            <p>Codigo: {{produto.id_produto}}</p>
            <p>Nome: {{ produto.nome }}</p>
            <p>Preço: {{ produto.preco.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) }}</p>
            <p>Quantidade: {{ produto.quantidade }}</p>

            {% if produto.desconto %}
                <p>Desconto: {{ produto.desconto }}%</p>
            {% endif %}

            {% if produto.quantidade == 0 %}
                <p class="out">Produto Esgotado!</p>
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}