{% extends "base.html" %}

{% block content %}

<a class="cadastrar__button" href="/pedidos">&#11013; Ver todos os pedidos</a>
<a class="cadastrar__button" href="/cadastrar">Adicionar produto</a>

<p class="title">Produtos pedidos: {{ produtos.length }} <br/> Preço Total: {{ precoTotal.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) }}</p>

<ul class="produtos">
    {% for produto in produtos %}
    <li class="produto">
        <div class="info">
            <p>Codigo: {{produto.id_produto}}</p>
            <p>Nome: {{ produto.nome }}</p>

            {% if produto.precoAnterior %}
                <p>Desconto: {{ produto.desconto }}%</p>    
                <p style="color: gray;">Preço Anterior: {{ produto.precoAnterior.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) }}</p>
            {% endif %}

            <p style="font-weight: bolder;">Preço Atual: {{ produto.precoAtual.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) }}</p>
            <p>Quantidade: {{ produto.quantidade }}</p>
            
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}